<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ownerregserv</servlet-name>
  	<display-name>ownerregserv</display-name>
  	<description></description>
  	<servlet-class>com.controller.ownerregserv</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>buyerser</servlet-name>
  	<display-name>buyerser</display-name>
  	<description></description>
  	<servlet-class>com.controller.buyerser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addflatserv</servlet-name>
  	<display-name>addflatserv</display-name>
  	<description></description>
  	<servlet-class>com.controller.addflatserv</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginserv</servlet-name>
  	<display-name>loginserv</display-name>
  	<description></description>
  	<servlet-class>com.controller.loginserv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ownerregserv</servlet-name>
  	<url-pattern>/ownerregserv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>buyerser</servlet-name>
  	<url-pattern>/buyerser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addflatserv</servlet-name>
  	<url-pattern>/addflatserv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginserv</servlet-name>
  	<url-pattern>/loginserv</url-pattern>
  </servlet-mapping>
</web-app>
